<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SpringBoot</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="SpringBoot">
	<link rel="shortcut icon" href="favicon.ico">


	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}">

	<style>
		/* Set up general layout rules for outer containers. */
	</style>

</head>

<body class="app">
	<header th:insert="fragments/header.html :: sidebar-header"> </header>

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-fluid">

				<h1 class="app-page-title">Submit User Details</h1>

				<div class="row g-4 mb-4">
					<div class="col-12 col-sm-12">
						<div class="app-card app-card-stat shadow-sm h-100">
							<div class="app-card-body p-3 p-lg-4">


								<section class="contact-form">
									<h6 class="mb-5">Submit Form</h6>

									<input type="button" class="btn btn-primary" name="myButton" onclick="addJob()"
										value="Add Address" />

									<form>

										<div class="row mt-2 mb-4">
											<div class="col-md-3 text-end fw-bold">
												<label for="username" class="form-label">Salutation</label>
											</div>
											<div class="col-md-8">
												<div class="form-check text-start">
													<input id="salutation-mr" name="salutation" type="radio"
														value="Mr." />
													<label class="inline" for="salutation-mr">Mr.</label>

													<input id="salutation-mrs" name="salutation" type="radio"
														value="Mrs." />
													<label class="inline" for="salutation-mrs">Mrs.</label>

													<input id="salutation-ms" name="salutation" type="radio"
														value="Ms." />
													<label class="inline" for="salutation-ms">Ms.</label>
												</div>
											</div>
										</div>


										<div class="row mb-4">
											<div class="col-md-3 text-end fw-bold">
												<label for="username" class="form-label">Name</label>
											</div>
											<div class="col-md-8">
												<div class="input-group">
													<input class="form-control" id="name" name="name" type="text" />
												</div>
											</div>
										</div>

										<div class="row mb-4">
											<div class="col-md-3 text-end fw-bold">
												<label for="username" class="form-label">Email</label>
											</div>
											<div class="col-md-8">
												<div class="input-group">
													<input class="form-control" id="email" name="email" type="email" />
												</div>
											</div>
										</div>


										<div class="row mb-4">
											<div class="col-md-3 text-end fw-bold">
												<label for="username" class="form-label">Address</label>
											</div>
											<div class="col-md-8">
												<div class="input-group">
													<input class="address-class form-control" id="address_main"
														name="address_main" type="text" />
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3 text-end fw-bold">
											</div>
											<div class="col-md-8">
												<div id="address"></div>
											</div>
										</div>

										<div class="row mb-4">
											<div class="col-md-3 text-end fw-bold">
												<label for="username" class="form-label">Preferences</label>
											</div>
											<div class="col-md-2">
												<select class="form-select" id="preference" name="preference">
													<option>Vegeterian</option>
													<option>Non Vegeterian</option>
												</select>
											</div>
										</div>

										<div class="row mb-4">
											<div class="col-md-3 text-end fw-bold">
												<label for="username" class="form-label">Expertise</label>
											</div>
											<div class="col-md-8">
												<div class="form-check text-start">
													<input id="snacks-java" name="expertise" type="checkbox"
														value="java" />
													<label class="inline" for="snacks-pizza">Java</label>
													<input id="snacks-springboot" name="expertise" type="checkbox"
														value="springboot" />
													<label class="inline" for="snacks-cake">Spring Boot</label>
													<input id="snacks-javascript" name="expertise" type="checkbox"
														value="javascript" />
													<label class="inline" for="snacks-cake">Java Script</label>
												</div>
											</div>
										</div>

										<input name="secret" type="hidden"
											value="1abc1234-1abc-4321-1234-1234abcd1234" />
										<br>

										<button class="btn btn-sm btn-primary" type="submit">Send Data</button>
									</form>
								</section>

								<div class="results mt-4">
									<h4>Form Data</h4>
									<pre></pre>
								</div>

							</div>

						</div>
					</div>

					<header th:insert="fragments/footer.html :: footer"> </header>

				</div>


				<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
				<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
				<script src="js/app.js"></script>


				<script>
					async function postFormDataAsJson({url, formData}) {
						const plainFormData = Object.fromEntries(formData.entries());
						const formDataJsonString = JSON.stringify(plainFormData);

						const fetchOptions = {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
								Accept: "application/json",
							},
							body: formDataJsonString,
						};

						const response = await fetch(url, fetchOptions);

						if (!response.ok) {
							const errorMessage = await response.text();
							throw new Error(errorMessage);
						}

						return response.json();
					}

				</script>

				<script>
					function handleFormSubmit(event) {
						event.preventDefault();

						const data = new FormData(event.target);

						const formJSON = Object.fromEntries(data.entries());

						// for multi-selects, we need special handling
						formJSON.expertise = data.getAll('expertise');

						const results = document.querySelector('.results pre');
						results.innerText = JSON.stringify(formJSON, null, 2);
						
						postDataToServer(formJSON);

						//var addressArray = new Array();
						//var address_ele = document.getElementsByClassName('address-class');
						//for (var i = 0; i < address_ele.length; ++i) {
							//var item = address_ele[i];
							//addressArray.push(item.value);
						//}
						//alert(addressArray);

					}

					const form = document.querySelector('.contact-form');
					form.addEventListener('submit', handleFormSubmit);

				</script>

				<script>
					var i = 0;
					function addJob() {
						i++;
						var div = document.createElement("div");
						div.innerHTML = `
						<div class="input-group mb-3">
  						<input type="text" class="address-class form-control" id="address_`+ i + `" name="address_` + i + `"' aria-describedby="button-addon2">
 						<button class="btn" type="button" id="button-addon2" onclick="removeAddress(this)"><i class="fa-solid fa-trash-can text-danger"></i></button>
						</div>`;

						document.getElementById("address").appendChild(div);
						var formData = new FormData(document.querySelector("form"));
					}

					function removeAddress(div) {
						div.parentNode.remove();
						i--;
					};


				</script>

				<script>
					async function postDataToServer(postData) {

						const baseURL = "http://localhost:8080/api";


						try {
							const res = await fetch(`${baseURL}/appUsers`, {
								method: "post",
								headers: {
									"Content-Type": "application/json",
									"x-access-token": "token-value",
								},
								body: postData,
							});

							if (!res.ok) {
								const message = `An error has occured: ${res.status} - ${res.statusText}`;
								throw new Error(message);
							}

						} catch (err) {
							alert(err.message);
						}
					}

				</script>

</body>

</html>